body {
  margin: 0;
  font-style: normal;
  line-height: normal;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #ff6060;
}

li {
  display: flex;
}

ul {
  padding-left: 0;
}

code {
  font-family: "Montserrat";
}
