body {
  margin: 0;
  font-style: normal;
  line-height: 142.6%;
  color: #FF6060;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat';
}
