.slideshow {
  display: flex;
  align-items: center;
  height: 415px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.slides {
  height: 415px;
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}

.arrow-left {
  position: relative;
  right: -50px;
  cursor: pointer;
}
.arrow-right {
  position: relative;
  left: -50px;
  cursor: pointer;
}

.numero {
  color: white;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -70px;
}

@media screen and (max-width: 767px) {
  .slideshow {
    text-align: center;
    height: 255px;
    margin-left: 1px;
    margin-right: 1px;
  }
  .slides {
    height: 255px;
  }
  .arrow-left {
    height: 20px;
    position: relative;
    right: -20px;
  }
  .arrow-right {
    height: 20px;
    position: relative;
    left: -20px;
  }
}
