.host{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.host-name{
font-weight: 500;
font-size: 18px;
}
.host-picture{
height: 64px;
width: 64px;
border-radius: 50px;
margin-top: 25px;
margin-left: 10px;
}

@media screen and (max-width: 767px){
    .host-name{
        font-size: 12px;
        }
.host-picture{
            height: 32px;
            width: 32px;
            margin-top: 16,5px;
           
            }
}