.collapse {
  height: 47px;
  border-radius: 5px;
  background-color: #ff6060;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 18px;
  padding-right: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-flex {
  display: flex;
  flex-direction: row;
}

.collapse-text {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.collapse-arrow-turn {
  transform: rotate(180deg);
}

.collapse-description {
  font-weight: 400;
  font-size: 24px;
  background: #f7f7f7;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 18px;
  padding-bottom: 1px;
  padding-top: 10px;
  position: relative;
  top: -15px;
  transition: height 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

.collapse-apropos {
  margin-left: 180px;
  margin-right: 180px;
}

.display-none {
  display: none;
}

.equipements {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .collapse {
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
  }
  .collapse-text {
    font-size: 13px;
  }
  .collapse-arrow {
    height: 15px;
    width: 9px;
  }
  .collapse-description {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .equipements {
    width: 335px;
    align-items: center;
  }
  .description-logement {
    flex-direction: column;
  }
  .collapse-apropos {
    margin-left: 0px;
    margin-right: 0px;
  }
}
